* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  border: none;
}
button:focus {
  outline: none;
}

input {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

input:focus {
  outline: none;
}

.header {
  padding-top: clamp(1.875rem, 0.049rem + 9.13vw, 7.125rem);
  position: relative;
}
.header_container {
  margin: 0 15px;
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: clamp(1.875rem, -1.125rem + 15vw, 10.5rem);
}
@media (max-width: 992px) {
  .header_container {
    display: block;
    padding-bottom: 0;
  }
}
@media (max-width: 680px) {
  .header_container {
    padding-bottom: clamp(6.25rem, 4.489rem + 8.8vw, 11.313rem);
  }
}
.header_text {
  margin-right: 30px;
}
@media (max-width: 680px) {
  .header_text {
    color: #fff;
  }
}
.header_sub {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  font-family: "PT Sans";
  max-width: 525px;
  /* additional font */
  color: #6B6B6C;
}
@media (max-width: 820px) {
  .header_sub {
    max-width: 444px;
  }
}
@media (max-width: 680px) {
  .header_sub {
    color: #fff !important;
  }
}
.header_link {
  padding-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  font-family: "PT Sans";
  /* main font */
  color: #363738;
  border-bottom: 3px solid #FFCE50;
  display: inline-block;
}
@media (max-width: 992px) {
  .header_link {
    margin-bottom: clamp(2.5rem, 2.261rem + 1.2vw, 3.188rem);
  }
}
@media (max-width: 680px) {
  .header_link {
    color: #fff;
  }
}
.header_img img {
  width: 100%;
}
@media (max-width: 992px) {
  .header_img img {
    border-radius: 15px;
    padding: 0 41px;
  }
}

.heaeder_title {
  font-weight: 600;
  padding-bottom: 40px;
  font-size: clamp(1.75rem, 1.228rem + 2.61vw, 3.25rem);
  line-height: 125%;
  max-width: 610px;
  width: 100%;
  /* or 65px */
  font-family: "Exo 2";
  /* main font */
  color: #363738;
}
@media (max-width: 992px) {
  .heaeder_title {
    max-width: 468px;
  }
}
@media (max-width: 680px) {
  .heaeder_title {
    color: #fff;
  }
}

.bggreen {
  background-color: #0B7572;
  width: 43%;
  position: absolute;
  right: 0;
  top: 0;
  height: 99%;
  z-index: -1;
}
@media (max-width: 992px) {
  .bggreen {
    width: 30%;
  }
}
@media (max-width: 680px) {
  .bggreen {
    width: 100%;
  }
}

.header {
  padding-top: clamp(1.875rem, 0.049rem + 9.13vw, 7.125rem);
  position: relative;
}
.header_container {
  margin: 0 15px;
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: clamp(1.875rem, -1.125rem + 15vw, 10.5rem);
}
@media (max-width: 992px) {
  .header_container {
    display: block;
    padding-bottom: 0;
  }
}
@media (max-width: 680px) {
  .header_container {
    padding-bottom: clamp(6.25rem, 4.489rem + 8.8vw, 11.313rem);
  }
}
.header_text {
  margin-right: 30px;
}
@media (max-width: 680px) {
  .header_text {
    color: #fff;
  }
}
.header_sub {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  font-family: "PT Sans";
  max-width: 525px;
  /* additional font */
  color: #6B6B6C;
}
@media (max-width: 820px) {
  .header_sub {
    max-width: 444px;
  }
}
@media (max-width: 680px) {
  .header_sub {
    color: #fff !important;
  }
}
.header_link {
  padding-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  font-family: "PT Sans";
  /* main font */
  color: #363738;
  border-bottom: 3px solid #FFCE50;
  display: inline-block;
}
@media (max-width: 992px) {
  .header_link {
    margin-bottom: clamp(2.5rem, 2.261rem + 1.2vw, 3.188rem);
  }
}
@media (max-width: 680px) {
  .header_link {
    color: #fff;
  }
}
.header_img img {
  width: 100%;
}
@media (max-width: 992px) {
  .header_img img {
    border-radius: 15px;
    padding: 0 41px;
  }
}

.heaeder_title {
  font-weight: 600;
  padding-bottom: 40px;
  font-size: clamp(1.75rem, 1.228rem + 2.61vw, 3.25rem);
  line-height: 125%;
  max-width: 610px;
  width: 100%;
  /* or 65px */
  font-family: "Exo 2";
  /* main font */
  color: #363738;
}
@media (max-width: 992px) {
  .heaeder_title {
    max-width: 468px;
  }
}
@media (max-width: 680px) {
  .heaeder_title {
    color: #fff;
  }
}

.bggreen {
  background-color: #0B7572;
  width: 43%;
  position: absolute;
  right: 0;
  top: 0;
  height: 99%;
  z-index: -1;
}
@media (max-width: 992px) {
  .bggreen {
    width: 30%;
  }
}
@media (max-width: 680px) {
  .bggreen {
    width: 100%;
  }
}

.seacrh_container {
  margin-top: -70px;
  padding-right: 20px;
  padding-left: 20px;
}
.seacrh_items {
  margin-top: 70px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  gap: 64px;
}
@media (max-width: 992px) {
  .seacrh_items {
    margin-top: 41px;
    display: block;
    box-shadow: none;
  }
}
@media (max-width: 680px) {
  .seacrh_items {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-top: -85px;
  }
}
.seacrh_item {
  max-width: 33.333%;
  border-right: 1px solid #D7D7DD;
  padding-right: 105px;
}
.seacrh_item:last-child {
  border-right: none;
  padding-right: 0;
}
@media (max-width: 992px) {
  .seacrh_item {
    display: flex;
    align-items: center;
    max-width: 100%;
    border-right: none;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    padding: 32px 0 32px 40px;
    margin-bottom: 16px;
  }
  .seacrh_item:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 680px) {
  .seacrh_item {
    box-shadow: none;
    padding: 0;
  }
}
@media (max-width: 500px) {
  .seacrh_item {
    display: block;
    padding-bottom: 10px;
  }
  .seacrh_item:last-child {
    padding-bottom: 0;
  }
}
.seacrh_item-img {
  padding-bottom: 24px;
}
@media (max-width: 992px) {
  .seacrh_item-img {
    padding-right: 32px;
  }
}
.seacrh_item-title {
  padding-bottom: 16px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;
  /* or 27px */
  /* main font */
  color: #363738;
}
.seacrh_item-text {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  /* additional font */
  color: #6B6B6C;
}

.sphere {
  margin-top: clamp(1.875rem, 0.284rem + 7.95vw, 6.25rem);
}
.sphere_container {
  padding: 0 40px;
}
.sphere_text {
  margin-bottom: 40px;
}
.sphere_sub {
  max-width: 667px;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  /* additional font */
  color: #6B6B6C;
}
.sphere_content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .sphere_content-column {
    justify-content: center;
  }
}
.sphere_column-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding: 40px 0 48px 40px;
  position: relative;
  width: 687px;
  background: #FFFFFF;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  z-index: 2;
  margin-bottom: 16px;
}
@media (max-width: 405px) {
  .sphere_column-item {
    padding: 20px 0 28px 20px;
  }
}
.sphere_column-item:last-child {
  margin-bottom: 0;
}
.sphere_column-item::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: url("../../img/img.svg");
  z-index: 5;
}
@media (max-width: 790px) {
  .sphere_column-item {
    max-width: 587px;
  }
}
@media (max-width: 630px) {
  .sphere_column-item {
    max-width: 487px;
  }
}
@media (max-width: 530px) {
  .sphere_column-item {
    width: 100%;
  }
}
.sphere_item-text {
  padding-left: 64px;
}
@media (max-width: 425px) {
  .sphere_item-text {
    padding-left: 50px;
  }
}
.sphere_text-title {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */
  padding-bottom: 24px;
  /* main font */
  color: #363738;
}
@media (max-width: 530px) {
  .sphere_text-title {
    font-size: 18px;
  }
}
.sphere_text-sub {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  padding-right: 20px;
  /* additional font */
  color: #6B6B6C;
  max-width: 466px;
}
.sphere_user-title {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */
  /* main font */
  color: #363738;
}
@media (max-width: 1120px) {
  .sphere_user-title {
    display: none;
  }
}
.sphere_user-num {
  border-bottom: 3px solid #FFCE50;
}
.sphere_user-num span:first-child {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 150%;
  /* or 81px */
  letter-spacing: 0.3em;
  /* main font */
  color: #363738;
}
@media (max-width: 1120px) {
  .sphere_user-num {
    display: none;
  }
}
.sphere_num-users {
  font-family: "Exo 2";
  font-size: 20px;
  letter-spacing: normal;
  font-weight: 400;
}

.spere_title {
  padding-bottom: 32px;
}

.sphere_item-btn {
  position: relative;
}

.sphere_item-btn_radio {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.radio_label::before {
  content: "";
  width: 24px;
  height: 24px;
  background: #FFFFFF;
  border-radius: 50%;
  border: 1px solid #CBCBCD;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.radio_label::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #0B7572;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 2;
  opacity: 0;
}

.sphere_item-btn_radio:checked + .radio_label:after {
  opacity: 1;
}

.sphere_img {
  position: absolute;
  right: 0;
  bottom: -4px;
}

.answer {
  padding-top: clamp(1.875rem, 0.909rem + 4.83vw, 4.531rem);
}
.answer_items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 40px;
  margin-right: 20px;
}
@media (max-width: 768px) {
  .answer_items {
    display: block;
  }
}
.answer_item {
  display: flex;
  align-items: center;
  margin-bottom: 68px;
}
.answer_item:first-child {
  padding-right: 25px;
}
@media (max-width: 768px) {
  .answer_item:first-child {
    padding-right: 0;
  }
}
.answer_item:nth-child(3) {
  margin-bottom: 0;
  padding-right: 25px;
}
@media (max-width: 768px) {
  .answer_item:nth-child(3) {
    margin-bottom: 68px;
    padding-right: 0;
  }
}
.answer_item:last-child {
  margin-bottom: 0;
}
.answer_item-img {
  margin-right: 40px;
}
@media (max-width: 425px) {
  .answer_item-img {
    margin-right: 20px;
  }
}
.answer_text-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 16px;
  /* or 27px */
  /* main font */
  color: #363738;
  font-family: "Exo 2";
}
@media (max-width: 425px) {
  .answer_text-title {
    font-size: 18px;
  }
}
.answer_text-sub {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  /* additional font */
  color: #6B6B6C;
  max-width: 291px;
}
@media (max-width: 768px) {
  .answer_text-sub {
    max-width: 394px;
  }
}
@media (max-width: 425px) {
  .answer_text-sub {
    font-size: 15px;
    width: 100%;
  }
}

.why {
  position: relative;
  margin-top: clamp(5rem, 4.545rem + 2.27vw, 6.25rem);
}
.why::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 70.5%;
  height: 99.5%;
  background: linear-gradient(53deg, rgb(11, 117, 114) 0%, rgb(11, 117, 114) 65%, rgba(11, 113, 122, 0.5046393557) 64%, rgba(11, 113, 122, 0.5046393557) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%);
  top: 0;
  left: 0;
}
@media (max-width: 560px) {
  .why::before {
    display: none;
  }
}
.why_container {
  display: flex;
  align-items: center;
  flex-basis: 1;
}
.why_title {
  flex-basis: 362px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 125%;
  color: #FFFFFF;
  font-family: "Exo 2";
  z-index: 5;
  position: relative;
}
@media (max-width: 950px) {
  .why_title {
    font-size: 40px;
  }
}
@media (max-width: 800px) {
  .why_title {
    font-size: 35px;
  }
}
@media (max-width: 700px) {
  .why_title {
    font-size: 30px;
  }
}
@media (max-width: 630px) {
  .why_title {
    font-size: 25px;
  }
}
@media (max-width: 560px) {
  .why_title {
    color: #363738;
    font-size: 28px;
    margin-top: 68px;
    margin-bottom: 38px;
  }
}
.why_title span {
  position: absolute;
  width: 365px;
  top: -50px;
  left: 50px;
}
@media (max-width: 630px) {
  .why_title span {
    width: 265px;
  }
}
@media (max-width: 560px) {
  .why_title span {
    max-width: 100%;
  }
}
.why_img img {
  max-width: 100%;
  width: 1040px;
  height: auto;
}
@media (max-width: 560px) {
  .why_img {
    display: none;
  }
}

.slider {
  padding-top: clamp(3.125rem, 1.489rem + 8.18vw, 7.625rem);
  padding-bottom: clamp(3.125rem, 1.534rem + 7.95vw, 7.5rem);
}
.slider_container {
  padding: 0 20px;
}
.slider_text {
  padding-bottom: clamp(1.875rem, 1.284rem + 2.95vw, 3.5rem);
}
.slider_text-title {
  padding-bottom: 32px;
}
.slider_text-sub {
  max-width: 463px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  /* additional font */
  color: #6B6B6C;
}
.slider_swiper-item {
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.slider {
  overflow: hidden;
}
.slider_work {
  padding-right: 9x !important;
  padding-left: 12px !important;
  padding: 30px !important;
  overflow: hidden;
}
.slider_work-container {
  display: inline-flex;
  margin-bottom: clamp(1.875rem, 1.284rem + 2.95vw, 3.5rem);
}
@media (max-width: 768px) {
  .slider_work-container {
    display: block;
  }
}
.slider_work-item {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding-bottom: 30px;
}
.slider_item-img img {
  width: 100%;
}
.slider_item-text {
  padding-left: 32px;
}
.slider_item-text-title {
  padding-top: 24px;
  font-style: normal;
  font-weight: 600;
  padding-bottom: 16px; /* or 27px */
  font-size: 20px;
  /* main font */
  color: #363738;
  font-family: "Exo 2";
}
.slider_item-text-sub {
  max-width: 294px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  /* additional font */
  color: #6B6B6C;
}
@media (max-width: 375px) {
  .slider_item-text-sub {
    width: 100%;
  }
}
.slider_item-text-price {
  padding-top: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  /* or 22px */
  /* main font */
  color: #363738;
  font-family: "Exo 2";
  display: inline-block;
  border-bottom: 3px solid #FFCE50;
}
.slider_work-pagination span {
  width: 18px;
  height: 18px;
}
.slider_work-pagination .swiper-pagination-bullet {
  background: #E9E9EC;
  opacity: 0.8;
}
.slider_work-pagination .swiper-pagination-bullet-active {
  background: #0B7572;
  outline-offset: 9px;
  outline: 1px solid #0B7572;
}
.slider_work-pagination .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #0B7572;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-right: 16px !important;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:last-child, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:last-child {
  margin-right: 0 !important;
}

td {
  padding: 16px;
}

tbody {
  border-spacing: 0;
}

.clients_container {
  background: #0B7572;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 85px 67px 85px 81px;
}
.clients_container::before {
  content: "";
  max-width: 703px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 48px;
  background-image: url(../img/clients/path2195.png);
  z-index: 1;
  background-repeat: no-repeat;
}
@media (max-width: 1020px) {
  .clients_container {
    display: block;
  }
}
@media (max-width: 750px) {
  .clients_container::before {
    max-width: 450px;
  }
}
@media (max-width: 666px) {
  .clients_container {
    display: none;
  }
}
.clients_title {
  color: #FFFFFF !important;
}
@media (max-width: 1020px) {
  .clients_title {
    margin-bottom: 48px;
  }
}
@media (max-width: 768px) {
  .clients_title {
    max-width: 328px;
  }
}
.clients_table {
  background: #FFFFFF;
  border-radius: 8px;
  padding: 28px 40px 40px 40px;
}
.clients_table-text {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #D7D7DD;
  padding-bottom: 32px;
}
.clients_text-copy {
  max-width: 274px;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
  /* or 16px */
  /* additional font */
  color: #6B6B6C;
  font-family: "PT Sans";
}
.clients_table-item {
  margin-top: 32px;
  max-width: 588px;
}
@media (max-width: 1020px) {
  .clients_table-item {
    max-width: 100%;
  }
}

tbody {
  padding-top: 10px;
}

.table_name {
  background: #0B7572;
  margin-bottom: 10px;
}
.table_name-item {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  /* or 24px */
  padding: 16px 0;
  /* white */
  color: #FFFFFF;
  font-family: "Exo 2";
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.table_content {
  vertical-align: top;
}
.table_content:last-child {
  border-bottom: none;
}
.table_content tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.table_content tr:last-child {
  border-bottom: none;
}
.table_content td {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.table_content td:last-child {
  border-right: none;
}
.table_content-name span:first-child {
  padding-bottom: 10px;
}
.table_content-price {
  margin-top: 10px;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  /* or 19px */
  /* main font */
  color: #363738;
}
.table_maker-name {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 135%;
  /* or 19px */
  /* main font */
  color: #363738;
}
.table_maker-address {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  /* or 19px */
  /* additional font */
  color: #6B6B6C;
}
.table_contact-name {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 135%;
  /* or 19px */
  /* main font */
  color: #363738;
}
.table_contact-post {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  /* or 19px */
  /* additional font */
  color: #6B6B6C;
}
.table_contact-num {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  /* or 19px */
  /* main font */
  color: #363738;
}

.up {
  border-collapse: separate;
  background: #F9F9FB;
}
.up:nth-child(2) {
  border-spacing: 0;
}

.second {
  border-collapse: separate;
  border-spacing: 0;
}

.table_content td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.steps {
  margin-top: clamp(3.125rem, 1.534rem + 7.95vw, 7.5rem);
}
.steps_container {
  padding: 0 20px;
}
.steps_title {
  margin-bottom: 48px;
}
.steps_column {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.steps_column:last-child {
  margin-bottom: 0;
}
.steps_column-num {
  float: left;
  position: relative;
  z-index: 50;
  shape-outside: circle();
  -webkit-clip-path: circle();
          clip-path: circle();
  display: block;
  background: #0B7572;
  /* green */
  border: 4px solid #0B7572;
  height: 68px;
  width: 70px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  /* or 48px */
  text-align: center;
  padding-top: 10px;
  /* white */
  color: #FFFFFF;
}
.steps_column-content {
  margin-left: -20px;
  padding: 32px 0;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12) !important;
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  width: 100%;
}
.steps_column-content::before {
  content: "";
  width: 40px;
  height: 92px;
  position: absolute;
  top: 31%;
  box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.12) !important;
  left: 0;
  border-bottom-right-radius: 88px;
  border-top-right-radius: 88px;
}
@media (max-width: 944px) {
  .steps_column-content::before {
    top: 34%;
  }
}
@media (max-width: 887px) {
  .steps_column-content::before {
    top: 35%;
  }
}
@media (max-width: 850px) {
  .steps_column-content::before {
    top: 36%;
  }
}
@media (max-width: 822px) {
  .steps_column-content::before {
    top: 37%;
  }
}
@media (max-width: 800px) {
  .steps_column-content::before {
    top: 38%;
  }
}
@media (max-width: 768px) {
  .steps_column-content::before {
    top: 31%;
  }
}
@media (max-width: 630px) {
  .steps_column-content::before {
    top: 32%;
  }
}
@media (max-width: 595px) {
  .steps_column-content::before {
    top: 33%;
  }
}
@media (max-width: 539px) {
  .steps_column-content::before {
    top: 34%;
  }
}
@media (max-width: 495px) {
  .steps_column-content::before {
    top: 35%;
  }
}
@media (max-width: 450px) {
  .steps_column-content::before {
    top: 37%;
  }
}
@media (max-width: 425px) {
  .steps_column-content::before {
    top: 38%;
  }
}
@media (max-width: 395px) {
  .steps_column-content::before {
    top: 39%;
  }
}
@media (max-width: 380px) {
  .steps_column-content::before {
    top: 40%;
  }
}
@media (max-width: 350px) {
  .steps_column-content::before {
    top: 41%;
  }
}
@media (max-width: 332px) {
  .steps_column-content::before {
    top: 42%;
  }
}
.steps_content-img {
  padding-left: 77px;
  border-radius: 4px;
}
@media (max-width: 870px) {
  .steps_content-img img {
    max-width: 270px;
  }
}
@media (max-width: 768px) {
  .steps_content-img img {
    display: none;
  }
}
.steps_content-text {
  padding-left: 56px;
  padding-right: 20px;
  /* additional font */
  color: #6B6B6C;
}
@media (max-width: 768px) {
  .steps_content-text {
    padding-left: 20px;
  }
}
@media (max-width: 452px) {
  .steps_content-text {
    padding-left: 0px;
  }
}
.steps_content-text span {
  width: 86px;
  display: block;
  margin-bottom: 24px;
  height: 3px;
  background-color: #FFCE50;
  z-index: 100;
}
.steps_content-sub {
  max-width: 568px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
}

.step_content-title {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  /* or 25px */
  /* main font */
  color: #363738;
  margin-bottom: 24px;
}

.trust {
  margin-top: clamp(4rem, 2.727rem + 6.36vw, 7.5rem);
}
.trust_container {
  padding: 0 20px;
}
.trust_title {
  margin-bottom: clamp(1.563rem, 0.085rem + 7.39vw, 5.625rem);
}
.trust_items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: space-around;
  align-items: center;
  grid-gap: clamp(1.563rem, 0.085rem + 7.39vw, 5.625rem);
}
@media (max-width: 1030px) {
  .trust_items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .trust_items {
    grid-template-columns: repeat(2, 1fr);
  }
}
.trust_item {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  border-right: 1px solid #D7D7DD;
  padding-right: clamp(1.875rem, 1.102rem + 3.86vw, 4rem);
}
@media (max-width: 1030px) {
  .trust_item:nth-child(3) {
    border-right: none;
  }
  .trust_item:nth-child(4) {
    border-right: 1px solid #D7D7DD !important;
  }
  .trust_item:nth-child(6) {
    border-right: none;
  }
}
@media (max-width: 1030px) and (max-width: 768px) {
  .trust_item:nth-child(odd) {
    border-right: 1px solid #D7D7DD !important;
  }
  .trust_item:nth-child(even) {
    border-right: none !important;
  }
}
.trust_item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 130px;
  margin-bottom: 10px;
}
@media (max-width: 550px) {
  .trust_item-img img {
    max-width: 100%;
  }
}
.trust_item-text {
  vertical-align: bottom;
}
.trust_item-title {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;
  /* or 27px */
  /* main font */
  color: #363738;
}
.trust_item-sub {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  /* or 21px */
  width: 100%;
  /* additional font */
  color: #6B6B6C;
  font-family: "PT Sans";
}
.trust_item:nth-child(4) {
  border-right: none;
  padding-right: 0;
}
.trust_item:last-child {
  border-right: none;
  padding-right: 0;
}
.trust_item-sec {
  border-right: 1px solid #D7D7DD;
}
.trust_item-sec:last-child {
  border-right: none;
}

.employees {
  margin-top: clamp(4rem, 2.5rem + 7.5vw, 8.125rem);
}
.employees_container {
  padding: 0 20px;
}
.employees_title {
  margin-bottom: clamp(2rem, 1.091rem + 4.55vw, 4.5rem);
}
.employees_items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px 30px;
}
@media (max-width: 530px) {
  .employees_items {
    grid-template-columns: repeat(1, 1fr);
  }
}
.employees_item {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 32px 0 40px clamp(2.25rem, 1.182rem + 5.34vw, 5.188rem);
  position: relative;
}
@media (max-width: 870px) {
  .employees_item {
    display: block;
  }
}
@media (max-width: 530px) {
  .employees_item {
    display: flex;
    padding-top: 24px;
    padding-bottom: 32px;
  }
}
.employees_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: clamp(1.25rem, 0.545rem + 3.52vw, 3.188rem);
  height: 100%;
  border-radius: 10px 0px 0px 10px;
  background-color: #0B7572;
}
@media (max-width: 870px) {
  .employees_item-img {
    margin-bottom: 16px;
  }
}
@media (max-width: 530px) {
  .employees_item-img {
    margin-bottom: 0;
  }
}
@media (max-width: 375px) {
  .employees_item-img img {
    width: 100%;
  }
}
.employees_item-about {
  padding-left: clamp(1rem, 0.455rem + 2.73vw, 2.5rem);
  padding-right: 15px;
}
@media (max-width: 882px) {
  .employees_item-about {
    padding-left: 0;
  }
}
@media (max-width: 530px) {
  .employees_item-about {
    padding-left: clamp(1rem, 0.455rem + 2.73vw, 2.5rem);
  }
}
.employees_item-name {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* main font */
  color: #363738;
  padding-bottom: 12px;
}
@media (max-width: 410px) {
  .employees_item-name {
    font-size: 16px;
  }
}
.employees_item-post {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */
  /* additional font */
  color: #6B6B6C;
  font-family: "PT Sans";
  position: relative;
}
@media (max-width: 410px) {
  .employees_item-post {
    font-size: 14px;
  }
}
.employees_item-post::before {
  content: "";
  width: 86px;
  position: absolute;
  bottom: -14px;
  left: 0;
  height: 3px;
  background-color: #FFCE50;
}
.employees_item-soc {
  padding-top: 39px;
}
.employees_item-soc img {
  cursor: pointer;
  margin-right: 20px;
}
.employees_item-soc img:last-child {
  margin-right: 0;
}
@media (max-width: 410px) {
  .employees_item-soc img {
    margin-right: 10px;
    max-width: 100%;
  }
}
.contact {
  margin-top: clamp(6.25rem, 5.568rem + 3.41vw, 8.125rem);
}
.contact_container {
  padding: 0 20px;
}
.contact_title {
  margin-bottom: clamp(3.5rem, 3.136rem + 1.82vw, 4.5rem);
}
.contact_content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 820px) {
  .contact_content {
    display: block;
  }
}
.contact_content-info {
  margin-right: 30px;
}
@media (max-width: 820px) {
  .contact_content-info {
    margin-bottom: 64px;
  }
}
.contact_info-img {
  padding-right: 32px;
}
.contact_info-title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */
  /* additional font */
  color: #6B6B6C;
  font-family: "PT Sans";
}
.contact_info-sub {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  /* main font */
  color: #363738;
  font-family: "Exo 2";
}
.contact_contetn-card {
  background: #F9F9FB;
  max-width: 794px;
  padding: clamp(1.5rem, 1.068rem + 2.16vw, 2.688rem) clamp(2.375rem, 1.557rem + 4.09vw, 4.625rem) clamp(2.5rem, 2.136rem + 1.82vw, 3.5rem) 46px;
  border-radius: 5px;
}
@media (max-width: 1150px) {
  .contact_contetn-card {
    max-width: 693px;
  }
}
@media (max-width: 990px) {
  .contact_contetn-card {
    max-width: 590px;
  }
}
@media (max-width: 940px) {
  .contact_contetn-card {
    max-width: 500px;
  }
}
@media (max-width: 820px) {
  .contact_contetn-card {
    max-width: 100%;
  }
}
.contact_card-text {
  display: flex;
  position: relative;
  margin-bottom: 30px;
  max-width: 674px;
}
@media (max-width: 590px) {
  .contact_card-text {
    display: block;
  }
}
.contact_card-text:last-child {
  margin-bottom: 0;
}
.contact_card-text:last-child::before {
  background-color: transparent;
}
.contact_card-text::before {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #E9EAF2;
}
.contact_card-text_title {
  font-family: "PT Sans";
  white-space: nowrap;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  /* or 20px */
  max-width: 175px;
  width: 100%;
  /* additional font */
  color: #6B6B6C;
}
@media (max-width: 590px) {
  .contact_card-text_title {
    padding-bottom: 14px;
    max-width: 100%;
  }
}
.contact_card-text_value {
  font-style: normal;
  padding-left: 56px;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  /* or 20px */
  width: 100%;
  /* main font */
  color: #363738;
  font-family: "Exo 2";
}
@media (max-width: 590px) {
  .contact_card-text_value {
    padding-left: 0;
  }
}

.conctact_info-tel {
  display: flex;
  padding-bottom: 44px;
  align-items: center;
}
.conctact_info-mail {
  display: flex;
  align-items: center;
  padding-bottom: 44px;
}
.conctact_info-whats {
  display: flex;
  align-items: center;
  padding-bottom: 44px;
}
.conctact_info-skype {
  display: flex;
  align-items: center;
}

.request {
  margin-top: clamp(3.5rem, 1.682rem + 9.09vw, 8.5rem);
}
.request_container {
  background-image: url(../img/request/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
@media (max-width: 768px) {
  .request_container {
    background-image: none;
  }
}
.request_text {
  background: #0B7572;
  padding: clamp(2.5rem, 2.136rem + 1.82vw, 3.5rem) clamp(0.875rem, -0.261rem + 5.68vw, 4rem) clamp(3rem, 2.818rem + 0.91vw, 3.5rem) clamp(1rem, 0.091rem + 4.55vw, 3.5rem);
  width: 60%;
  color: #fff !important;
}
@media (max-width: 768px) {
  .request_text {
    width: 100%;
  }
}
.request_text-title {
  padding-bottom: clamp(3rem, 2.455rem + 2.73vw, 4.5rem);
  color: #fff !important;
}
.notes {
  position: relative;
}
.notes_product {
  width: 1.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.notes_product-label {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  padding-bottom: 10px;
  margin-bottom: 32px;
  max-width: 559px;
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 768px) {
  .notes_product-label {
    max-width: 100%;
  }
}
.notes_product-label svg {
  margin-right: 4px;
  height: 16px;
}

.img_product {
  width: 1.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.img_product-label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  padding-bottom: 10px;
  margin-bottom: 66px;
  max-width: 559px;
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 768px) {
  .img_product-label {
    max-width: 100%;
  }
}
.img_product-label svg {
  margin-right: 4px;
  height: 16px;
}

.notes {
  max-width: 579px;
  width: 100%;
  resize: none;
  height: 223px;
  background-attachment: local;
  background-color: #0B7572;
  background-image: linear-gradient(to right, #0B7572 10px, transparent 10px), linear-gradient(to left, #0B7572 10px, transparent 10px), repeating-linear-gradient(#0B7572, #0B7572 31px, rgba(255, 255, 255, 0.2) 31px, rgba(255, 255, 255, 0.2) 33px, rgba(255, 255, 255, 0.2) 32px);
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 31px;
  padding: 8px 10px;
  color: #FFFFFF;
  border: none;
  margin-left: -9px;
  margin-right: 0px;
  outline: none;
}
@media (max-width: 768px) {
  .notes {
    max-width: 100%;
  }
}

/* Line 21 */
::-moz-placeholder {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  /* or 20px */
  /* white */
  color: #FFFFFF;
}
:-ms-input-placeholder {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  /* or 20px */
  /* white */
  color: #FFFFFF;
}
::placeholder {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  /* or 20px */
  /* white */
  color: #FFFFFF;
}

.form_input {
  display: grid;
}

.send_button {
  cursor: pointer;
  max-width: 206px;
  width: 100%;
  padding: 20px 0 16px 0;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  /* or 24px */
  text-align: center;
  /* green */
  color: #0B7572;
}

.footer {
  margin-top: clamp(4rem, 3.182rem + 4.09vw, 6.25rem);
  margin-bottom: 44px;
}
.footer_container {
  padding: 0 20px;
}
.footer_title {
  margin-bottom: 32px;
}
.footer_text {
  max-width: 848px;
  width: 100%;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  margin-bottom: 40px;
  /* additional font */
  color: #6B6B6C;
  font-family: "PT Sans";
}

.video-container {
  width: 100%;
  border-radius: 4px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.video-container .video-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-container video {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.play-button-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  pointer-events: none;
}
.play-button-wrapper #circle-play-b {
  cursor: pointer;
  pointer-events: auto;
}
.play-button-wrapper #circle-play-b svg {
  width: clamp(5rem, 4.545rem + 2.27vw, 6.25rem);
  height: clamp(5rem, 4.545rem + 2.27vw, 6.25rem);
  fill: #fff;
  stroke: #fff;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  opacity: 0.9;
}
@media (max-width: 450px) {
  .play-button-wrapper #circle-play-b svg {
    margin-bottom: 25px;
  }
}
@media (max-width: 340px) {
  .play-button-wrapper #circle-play-b svg {
    width: 60px;
    height: 60px;
  }
}

[class*=_container] {
  max-width: 1240px;
  margin: 0 auto;
}

body {
  background-color: #fff;
}

.text {
  color: #6B6B6C;
  font-size: 16px;
}

.title {
  font-weight: 600;
  font-size: clamp(1.563rem, 1.04rem + 2.61vw, 3rem);
  line-height: 125%;
  /* or 60px */
  /* main font */
  color: #363738;
  font-family: "Exo 2";
}