.contact {
   margin-top: clamp(6.25rem, 5.568rem + 3.41vw, 8.125rem);
   &_container {
      padding: 0 20px;
   }

   &_title {
      margin-bottom: clamp(3.5rem, 3.136rem + 1.82vw, 4.5rem);
   }

   &_content {
      display: flex;
      justify-content: space-between;
    @media (max-width: 820px) {
       display: block;
    }

   }

   &_content-info {
      margin-right: 30px;
       @media (max-width: 820px) {
         margin-bottom: 64px;
       }
     
   }

   &_info-img {
      padding-right: 32px;
   }

   &_info-title {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      /* or 21px */
      
      
      /* additional font */
      
      color: #6B6B6C;
      font-family: 'PT Sans';
   }

   &_info-sub {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      
      /* main font */
      
      
      color: #363738;
      font-family: 'Exo 2';
   }

   &_contetn-card {
      background: #F9F9FB;
      max-width: 794px;
      padding: clamp(1.5rem, 1.068rem + 2.16vw, 2.688rem) clamp(2.375rem, 1.557rem + 4.09vw, 4.625rem) clamp(2.5rem, 2.136rem + 1.82vw, 3.5rem) 46px;
      border-radius: 5px;
      // width: 784px;
       @media (max-width: 1150px) {
         max-width: 693px;
       }
        @media (max-width: 990px) {
         max-width: 590px;
        }
         @media (max-width: 940px) {
           max-width: 500px;
         }
          @media (max-width: 820px) {
            max-width: 100%;
          }
   }

   &_card-text {
      display: flex;
      position: relative;
      margin-bottom: 30px;
      max-width: 674px;
       @media (max-width: 590px) {
         display: block;
       }
      &:last-child{
         margin-bottom: 0;
         &::before{
            background-color: transparent;
         }
      }

      &::before{
         content: "";   
         position: absolute;
         bottom: -16px;
         left: 0;
         width: 100%;
         height: 1px;
         background-color:  #E9EAF2;

      }
   }

   &_card-text_title {
      font-family: 'PT Sans';
      white-space: nowrap;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 125%;
      /* or 20px */
    
      max-width: 175px;
      width: 100%;
      /* additional font */
      
      color: #6B6B6C;
      @media (max-width: 590px) {
         padding-bottom: 14px;
         max-width: 100%; 
      }
      
   }

   &_card-text_value {
      font-style: normal;
      padding-left: 56px;
      font-weight: 600;
      font-size: 16px;
      line-height: 125%;
      /* or 20px */
      width: 100%;
      
      
      /* main font */
      
      color: #363738;
      font-family: 'Exo 2';
      @media (max-width: 590px) {
         padding-left: 0;
      }

   }
}

.conctact {

   &_info-tel {
      display: flex;
      padding-bottom: 44px;
      align-items: center;
   }

   &_info-mail {
      display: flex;
      align-items: center;

      padding-bottom: 44px;
   }

   &_info-whats {
      display: flex;

      align-items: center;

      padding-bottom: 44px;
   }

   &_info-skype {
      display: flex;
      align-items: center;

   }
}
